<div class="col-md-6">
    <a href="#" ng-click="ctrl.expand = !ctrl.expand"><h3>{{topic_name}}:</h3></a>
    <div ng-show="ctrl.expand">
        <p>requester: {{message.goal.requester}}, [{{message.goal.id}}]</p>
        <p>priority: {{message.goal.priority}} </p>
        <table class="table table-striped">
            <tr> <td><b>axis</b></td><td> <b>velocity</b></td> </td><td><b>disabled</b></td> </tr>
            <tr> <td>x</td><td>{{message.twist.linear.x | number:3}}&nbspm/s</td><td>{{message.disable_axis.x}}</td></tr>
            <tr> <td>y</td><td>{{message.twist.linear.y | number:3}}&nbspm/s</td><td>{{message.disable_axis.y}}</td></tr>
            <tr> <td>z</td><td>{{message.twist.linear.z | number:3}}&nbspm/s</td><td>{{message.disable_axis.z}}</td></tr>
            <tr> <td>roll</td><td>{{message.twist.angular.x | number:3}}&nbsprad/s</td><td>{{message.disable_axis.roll}}</td></tr>
            <tr> <td>pitch</td><td>{{message.twist.angular.y | number:3}}&nbsprad/s</td><td>{{message.disable_axis.pitch}}</td></tr>
            <tr> <td>yaw</td><td>{{message.twist.angular.z | number:3}}&nbsprad/s</td><td>{{message.disable_axis.yaw}}</td></tr>
        </table>
    </div>
    <hr/>
</div>
