<div class="col-md-6">
    <h3>Available services:</h3>

    <table>
    <tr>
        <div ros-service="/cola2_control/enable_keep_position_4dof" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/cola2_control/enable_keep_position_3dof" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/cola2_control/disable_keep_position" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/cola2_control/enable_thrusters" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/cola2_control/disable_thrusters" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/actuators/disable_fins" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/actuators/enable_fins" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/cola2_control/disable_trajectory" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        <div>
    </tr>
    <tr>
        <div ros-service="/cola2_control/disable_goto" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/cola2_safety/reset_timeout" ros-service-type="std_srv/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/cola2_navigation/reset_navigation" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    <tr>
        <div ros-service="/csip_e5_arm/arm_calibration" ros-service-type="std_srvs/Empty">
            <div ng-controller="RosCreateService">
                <ros-std-srvs-empty></ros-std-srvs-empty>
            </div>
        </div>
    </tr>
    </table>
</div>

<div class="col-md-6">
<hr/>
<p> <b> Goto </b>
    <select ng-model="selectedItem">
        <option value="3">local</option>
        <option value="8">global</option>
    </select>
</p>
    <div ng-show="selectedItem=='3'" ros-service="/cola2_control/goto_local" ros-service-type="cola2_control/Goto">
        <div ng-controller="RosCreateService">
            <ros-cola2-srv-goto></ros-cola2-srv-goto>
        </div>
    </div>


    <div ng-show="selectedItem=='8'" ros-service="/cola2_control/goto_global" ros-service-type="cola2_control/Goto">
        <div ng-controller="RosCreateService">
            <ros-cola2-srv-goto></ros-cola2-srv-goto>
        </div>
    </div>

</div>
<hr/>
