<div class="col-md-6">
    <h3>Available services:</h3>
    <select ng-model="selectedItem">
        <option selected="selected" value="0"> --> Select a service <-- </option>
        <option value="1">Reset navigation</option>
        <option value="2">Disable goto</option>
        <option value="3">Goto local</option>
        <option value="5">Disable keep position</option>
        <option value="4">Enable keep position G500</option>
        <option value="13">Enable keep position S2</option>
        <option value="6">Enable thrusters</option>
        <option value="7">Disable thrusters</option>
        <option value="8">Goto global</option>
        <option value="9">Enable trajectory</option>
        <option value="10">Disable trajectory</option>
        <option value="11">Calibrate arm</option>
        <option value="12">Reset timeout</option>
    </select>

    <div ng-show="selectedItem=='1'" ros-service="/cola2_navigation/reset_navigation" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='2'" ros-service="/cola2_control/disable_goto" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='3'" ros-service="/cola2_control/goto_local" ros-service-type="cola2_control/Goto">
        <div ng-controller="RosCreateService">
            <ros-cola2-srv-goto></ros-cola2-srv-goto>
        </div>
    </div>

    <div ng-show="selectedItem=='4'" ros-service="/cola2_control/enable_keep_position_4dof" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='13'" ros-service="/cola2_control/enable_keep_position_3dof" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='5'" ros-service="/cola2_control/disable_keep_position" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='6'" ros-service="/cola2_control/enable_thrusters" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='7'" ros-service="/cola2_control/disable_thrusters" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='8'" ros-service="/cola2_control/goto_global" ros-service-type="cola2_control/Goto">
        <div ng-controller="RosCreateService">
            <ros-cola2-srv-goto></ros-cola2-srv-goto>
        </div>
    </div>

    <div ng-show="selectedItem=='9'" ros-service="/cola2_control/enable_trajectory" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='12'" ros-service="/cola2_safety/reset_timeout" ros-service-type="std_srv/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='11'" ros-service="/csip_e5_arm/arm_calibration" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    </div>

    <div ng-show="selectedItem=='10'" ros-service="/cola2_control/disable_trajectory" ros-service-type="std_srvs/Empty">
        <div ng-controller="RosCreateService">
            <ros-std-srvs-empty></ros-std-srvs-empty>
        </div>
    <div>

    <hr/>
</div>
<hr/>
