<div class="col-md-6">
    <a href="#" ng-click="ctrl.expand = !ctrl.expand"><h3>diagnostics:</h3></a>
    <div ng-repeat="status in message.status" ng-show="ctrl.expand">
        <div ng-switch="status.level">
            <div ng-switch-default> <a href="#" ng-click="ctrl.addStatus(status.name)">{{status.name}}</a> </div>
            <div ng-switch-when="1" class="alert-warning"> <a href="#" ng-click="ctrl.addStatus(status.name)">{{status.name}} </a></div>
            <div ng-switch-when="2" class="alert-danger"> <a href="#" ng-click="ctrl.addStatus(status.name)">{{status.name}} </a> </div>
            <ul>
                <div ng-repeat="values in status.values" ng-hide="ctrl.checkStatus(status.name)">
                    <li>{{values.key}}: {{values.value}}</li>
                </div>
            </ul>
        </div>
    </div>
    <hr/>
</div>
