<div class='col-md-6'>
    <p>service: <i>{{service_name}}</i></p>
    <div ng-show="ctrl.expand">
        <form role="form">
            <table>
                <tr>
                    <th class="col-md-3"> <input type="number" class="form-control" ng-model="ctrl.request.digital_output" placeholder="digital output"></input> </th>
                    <th class="col-md-3"> <label>is Enabled</label> &nbsp&nbsp <input type="checkbox" ng-model="ctrl.request.value"> </input> </th>
                    <th class="col-md-3"> <button class="btn btn-primary" type='button' ng-click="ctrl.callService(ctrl.request)">Call service</button> </th>
                </tr>
            </table>
        </form>
        <div class="alert-danger" ng-if="!output.state"><label>response:&nbsp</label>{{output.text}}</div>
        <div ng-if="output.state"><label>response:&nbsp</label>{{output.text}}</div>
    </div>
</div>






