<div class='col-md-6'>
    <p> <!-- service: <i>{{service_name}}</i> --> </p>
    <button class="btn btn-primary" type='button' ng-click="ctrl.callService()" ng-show="ctrl.expand">{{service_name}}</button>
</div>
