<div class='col-md-6'>
    <p>service: <i>{{service_name}}</i></p>
    <div ng-show="ctrl.expand">
        <form role="form">
            <table>
                <tr>
                    <th class="col-md-3"><input type="number" class="form-control" ng-model="ctrl.request.north_lat" placeholder="north/latitude"></th>
                    <th class="col-md-3"><input type="number" class="form-control" ng-model="ctrl.request.east_lon" placeholder="east/longitude"></th>
                </tr>
                <tr>
                    <th class="col-md-3"><input type="number" class="form-control" ng-model="ctrl.request.z" placeholder="depth/altitude"></th>
                    <th class="col-md-3"><label>check if altitude </label>&nbsp&nbsp<input type="checkbox" ng-model="ctrl.request.altitude_mode"></th>
                </tr>
                <tr>
                    <th class="col-md-3"><input type="number" class="form-control" ng-model="ctrl.request.tolerance" placeholder="tolerance"></th>
                    <th class="col-md-3">
                        <button class="btn btn-primary" type='button' ng-click="ctrl.callService(ctrl.request)">Call service</button>
                        <button class="btn btn-primary" type='button' ng-click="ctrl.clear()">Clear</button>
                    </th>
                </tr>
            </table>
        </form>
        <br/>
        <div class="alert-danger" ng-if="!output.state"><label>response:&nbsp</label>{{output.text}}</div>
        <div ng-if="output.state"><label>response:&nbsp</label>{{output.text}}</div>
    </div>
</div>
