<div class="col-md-6">
    <a href="#" ng-click="ctrl.expand = !ctrl.expand"><h3>{{topic_name}}:</h3></a>
    <div ng-show="ctrl.expand">
        <p>requester: {{message.goal.requester}}, [{{message.goal.id}}]</p>
        <p>priority: {{message.goal.priority}} </p>
        <table class="table table-striped">
            <tr> <td><b>axis</b></td><td> <b>velocity</b></td> </td><td><b>disabled</b></td> </tr>
            <tr> <td>north</td><td>{{message.position.north | number:2}}&nbspm</td> <td> </td> <td>{{message.disable_axis.x}}</td></tr>
            <tr> <td>east</td><td>{{message.position.east | number:2}}&nbspm</td> <td></td> <td>{{message.disable_axis.y}}</td></tr>
            <tr ng-hide="{{message.altitude_mode}}"> <td>depth</td><td>{{message.position.depth | number:2}}&nbspm</td> <td></td> <td>{{message.disable_axis.z}}</td></tr>
            <tr ng-show="{{message.altitude_mode}}"> <td>altitude</td><td>{{message.altitude | number:2}}&nbspm</td> <td></td> <td>{{message.disable_axis.z}}</td></tr>
            <tr> <td>roll</td><td>{{message.orientation.roll | number:3}}&nbsprad</td> <td>{{message.orientation.roll*180.0/3.1416 | number:1}}&nbspdeg</td> <td>{{message.disable_axis.roll}}</td></tr>
            <tr> <td>pitch</td><td>{{message.orientation.pitch | number:3}}&nbsprad</td> <td>{{message.orientation.pitch * 180.0/3.1416 | number:1}}&nbspdeg</td> <td>{{message.disable_axis.pitch}}</td></tr>
            <tr> <td>yaw</td><td>{{message.orientation.yaw | number:3}}&nbsprad</td> <td>{{message.orientation.yaw * 180.0 / 3.1416 | number:1}}&nbspdeg</td> <td>{{message.disable_axis.yaw}}</td></tr>
        </table>
    </div>
    <hr/>
</div>
